<!-- Create a template HTML file called index.html that will take the 
  mars data dictionary and display all of the data in the appropriate HTML elements.-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>

    <!-- Bootstrap Reference -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <!-- NASA Mars News Site Section -->
        <div class="container">
            <h3><b>Latest Mars News</b></h3>
            <h5><b>{{ mars_info.news_title }}</b></h5>
            <p>{{ mars_info.news_p }}</p>
        </div>

        <!-- Featured Image & Weather Section -->
        <div class="container">
            <!-- Featured Image -->
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h3><b>Featured Mars Image</b></h3>
                    <img src="{{ mars_info.featured_image_url }}" style="max-width:100%; max-height: auto;" alt="Mars Featured Image">
                </div>

                <!-- Weather Card Component: https://getbootstrap.com/docs/4.0/components/card/-->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-title"><b>Current Weather on Mars</b></h6>
                            <p class="card-text">{{ mars_info.mars_weather }}</p>
                        </div>
                    </div>
                    <!-- Table -->
                    <br>
                    <h3>Mars Facts</h3>
                    <div style="max-width: 450px; max-height: 150px; font-size: 15px; margin-bottom: 65px;">
                        {{ mars_info.mars_facts|safe}}
                    </div>
                </div> 


                <!-- Mars Hemispheres Cards --> 
                <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;"><b>Mars Hemispheres</b></h3>
                <div class="card-deck">
                    <hr>
                    <div class="col-md-12">
                        <div class="row">
                        {% for item in mars_info.hemisphere_image_urls %}
                            <div class="col-md-6">
                                <div class="card text-white bg-dark" style="margin: 30px;">
                                    <img class="card-img-top" src="{{ item.img_url }}" />
                                        <div class="card-body">
                                            <p class="card-text">{{ item.title }}</p>
                                        </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div> 
        
            </div>

        </div>

    </div>

</body>

</html>

